NSDS/NodeRed/Lab/exercise4.json
[
    {
        "id": "a60a6fa4ce3262d3",
        "type": "tab",
        "label": "Exercise 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93e507338eb4b2ca",
        "type": "mqtt in",
        "z": "a60a6fa4ce3262d3",
        "name": "Subscribe to /smartcity/milan",
        "topic": "neslabpolimi/smartcity/milan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7009a70a922e118c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "e1fa6c1dc1a91d9e",
                "8dd7631c5de4be33"
            ]
        ]
    },
    {
        "id": "e1fa6c1dc1a91d9e",
        "type": "debug",
        "z": "a60a6fa4ce3262d3",
        "name": "Show Sensor.commity Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "8dd7631c5de4be33",
        "type": "function",
        "z": "a60a6fa4ce3262d3",
        "name": "Track Max",
        "func": "if (msg.payload.fields.hasOwnProperty(\"pm25\")) { \n    if (Number(msg.payload.fields.pm25)>context.get(\"maxPM25\")) {\n        context.set(\"maxPM25\", Number(msg.payload.fields.pm25));\n    }\n}\n\nif (msg.payload.fields.hasOwnProperty(\"pm10\")) { \n    if (Number(msg.payload.fields.pm10)>context.get(\"maxPM10\")) {\n        context.set(\"maxPM10\", Number(msg.payload.fields.pm10));\n    }\n}\n\nif (msg.payload.fields.hasOwnProperty(\"temperature\")) { \n    if (Number(msg.payload.fields.temperature)>context.get(\"maxTemperature\")) {\n        context.set(\"maxTemperature\", Number(msg.payload.fields.temperature));\n    }\n}\n\nif (msg.payload.fields.hasOwnProperty(\"humidity\")) { \n    if (Number(msg.payload.fields.humidity)>context.get(\"maxHumidity\")) {\n        context.set(\"maxHumidity\", Number(msg.payload.fields.humidity));\n    }\n}\n\nlet newPayload = {\n    maxTemperature: context.get(\"maxTemperature\"),\n    maxHumidity: context.get(\"maxHumidity\"),\n    maxPM25: context.get(\"maxPM25\"),\n    maxPM10: context.get(\"maxPM10\"),\n};\n\nlet newMsg = { \n    topic: msg.topic, \n    payload: newPayload, \n    _msgid: msg._msgid, \n    };\n\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"maxTemperature\", 0);\ncontext.set(\"maxHumidity\", 0);\ncontext.set(\"maxPM25\", 0);\ncontext.set(\"maxPM10\", 0);\n",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "3f0561ef685307ab"
            ]
        ]
    },
    {
        "id": "3f0561ef685307ab",
        "type": "debug",
        "z": "a60a6fa4ce3262d3",
        "name": "Show Current Max",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "7009a70a922e118c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]